.filmInfo_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 5%;
  
  }

.headline {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
}
.heart {
  color: red;
}

.heart:hover {
  color: rgb(255, 114, 114);
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .filmInfo_container {
    height: 50%;
    width: 90vw;
  }
  .filmInfo_content {
    padding: 10px;
  }
}
