body {
  
  background: radial-gradient(50% 50% at 50% 50%, #5b3434 0%, #2A3342 100%);

  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
