body {
  
  background: radial-gradient(50% 50% at 50% 50%, #5b3434 0%, #2A3342 100%);

  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  color: aliceblue;
  margin: 5%;
  font-size: 20px;

  background-image: linear-gradient(to right, #f5f5f5, #f5f5f5);
  background-clip: text;
  color: transparent;
}



h1{
  color: aliceblue;
  font-size: 66px; 
}
code {
  font-family: 'Poppins', sans-serif;
}
